.modal-user-container {
    .modal-content {
        .modal-header {
            button {
                background-color: transparent;
                color: white;
                border: none;
                font-size: 28px;
            }
        }
    }
}
